*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 15%, rgba(58,9,121,1) 74%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: #fff;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 80%;
    gap: 10px;
}

nav a{
    font-weight: 600;
}

nav button{
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: DodgerBlue;
    color: #fff;
    font-weight: 600;
}   

main{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    
}
.title{
    width: 60%;
    margin: auto;
}

main h1{
    font-size: 65px;
    text-align: center;
}
.inputtxt{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 10px;
}
input{
    border: 3px solid grey;
    padding: 15px 20px;
    border-radius: 10px;
    width: 55%;

}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

nav button:hover{
    background-color: #040024;
    color: black;
    border: none;
    text-shadow:0px 0px 1px #fff;
}

nav a:hover{
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 10px;
}